<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fantasysportsgroupproject.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".Helpers.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
  <!--  <style name="AppTheme" parent="android:Theme.Holo.Light.DakActionBar">
    </style> -->
        android:theme="@style/Theme.Holo.AppCat.Light.DarkActionBar"
        <activity

            android:name="com.fantasysportsgroupproject.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fantasysportsgroupproject.app.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.fantasysportsgroupproject.app.FavoritePlayerActivity"
            android:label="@string/title_activity_favorite_player" >
        </activity>
    </application>

</manifest>
